# Byte-compiled / optimized / DLL files
*.py[cod]
**/*.py[cod]
__pycache__/
**/__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Virtual Environment
venv/
**/venv/

# Packages
node_modules
dist

.env
.DS_Store