{% extends 'base.html' %}
{% block title %}Vote{% endblock %}
{% block content %}
  <form action="{% url 'polls:vote' question.id %}" method="post" class="pa4 bg-light-gray br3 shadow-1 mw6 center">
    {% csrf_token %}
    <fieldset class="bn">
      <legend class="f2 mb2 dark-blue">{{ question.question_text }}</legend>

      {% if error_message %}
        <p class="bg-washed-red pa2"><strong>{{ error_message }}</strong></p>
      {% endif %}

      {% for choice in question.choice_set.all %}
        <div class="mb3">
          <input
            type="radio"
            name="choice"
            id="choice{{ forloop.counter }}"
            value="{{ choice.id }}"
            class="mr2"
          />
          <label for="choice{{ forloop.counter }}" class="f4 dark-gray">{{ choice.choice_text }}</label>
        </div>
      {% endfor %}
    </fieldset>

    <input type="submit" value="Vote" class="f5 link dim br2 ph3 pv2 mb2 dib white bg-dark-blue b-gray">
  </form>
  <a href="{% url 'polls:index' %}" class="f5 link dim br2 ph3 pv2 mt3 dib white bg-dark-blue">
    Return to all questions
  </a>
{% endblock %}
