{% extends 'base.html' %}
{% block title %}Questions{% endblock %}
{% block content %}
  {% if latest_question_list %}
    <h2 class="f3 dark-gray">Choose a question to vote on:</h2>
    <ul class="list pl0">
      {% for question in latest_question_list %}
      <a href="{% url 'polls:detail' question.id %}" class="link dim dark-blue">
        <li class="bg-light-gray pa3 mb3 br3 shadow-1 hover-bg-moon-gray">
          <span class="f3">{{ question.question_text }}</span>
        </li>
      </a>
      {% endfor %}
    </ul>
  {% else %}
    <p class="i light-red">No polls are available.</p>
  {% endif %}
{% endblock %}
